/* Header.css */

/* Estilos globais do componente Header */
.AppBar {
    background-color: black;
    text-align: center;
    
    /* Adicione estilos conforme necessário para a barra de aplicativos */
  }
  
  .logo {
    width: 95px;
    /* Estilos para a logo, customize conforme necessário */
  }
  
  .navLink {
    color:antiquewhite
    /* Estilos para os links de navegação, customize conforme necessário */
  }

  .scrolled {
    background-color: #fff; /* Cor de fundo do header quando rolado */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ao rolar */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Transição suave */
  }
  
  
  
  .userMenu {
    display: flex;
    /* Estilos para o menu do usuário, customize conforme necessário */
  }

  .transparent {
    background-color: transparent !important;
  }
  
  .AppBar{
    font-size:  400px;
  }