/* Header.css */

/* Estilos globais do componente Header */

    /* Adicione estilos conforme necessário para a barra de aplicativos */
  
  .logo {
    width: 95px;
    /* Estilos para a logo, customize conforme necessário */
  }
  
  .navLink {
    color:antiquewhite
    /* Estilos para os links de navegação, customize conforme necessário */
  }


  
  
  .userMenu {
    display: flex;
    /* Estilos para o menu do usuário, customize conforme necessário */
  }

  .transparent {
    background-color: black;
  }
  
