/* PaginaInicio.module.css */

.bg1 {
  background-image: url(imagem/bgheadder2.jpeg);
  background-size: cover;
  background-position: fixed;
  background-repeat: no-repeat;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo01 {
  display: flex;
  flex-direction: column;
  align-items: center; /* Alterado para centralizar o texto */
}

.imagem {
  width: 400px;
  height: auto;
  margin-right: 20px;
}

.titulo01 h1 {
  color: #f03939;
  text-align: center; /* Alterado para centralizar o texto */
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 4em;

  /* Adicionado media query para ajustar o tamanho da fonte em dispositivos menores */
  @media (max-width: 768px) {
    font-size: 2.5em;
  }
}

.titulo01 span {
  color: #000000;
}
