/* PaginaInicio.module.css */

.bg1 {
 background-image: url(imagem/bgheadder2.jpeg); background-size: cover; background-position: fixed; background-repeat: no-repeat;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo01 {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinha o texto à esquerda */
}

.imagem {
  width: 400px; /* Ajuste o tamanho conforme necessário */
  height: auto; /* Mantém a proporção da imagem */
  margin-right: 20px; /* Espaçamento à direita da imagem */
}

.titulo01 h1 {
  color: #3498db;
  text-align: left;
  margin-top: 0; /* Remove a margem superior padrão */
  margin-bottom: 10px; /* Espaçamento inferior do texto */
  font-size: 4em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.titulo01 span {
  color: #e74c3c;
}
